.main__section-buttons {
  display: flex;
  align-items: center;
}

.main__block-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  .btn {
    display: inline-block;

    margin: 1px;
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #7c7c7c;
    border-radius: 5px;
    font-weight: normal;
    background-color: rgb(185, 180, 174);
    color: #535353;
    transition: all .3s ease;

    &:disabled {
      border: 1px solid #b1b1b1;
      background-color: rgb(196, 194, 192);
      color: #aaaaaa;
    }
  }
}