.header__darkmode_btn {
  transition: all .3s ease;
  border: 2px solid #535353;
  border-radius: 10px;
  padding: 2px;
  margin-left: 20px;
  cursor: pointer;
}

.darkmode__active {
  border: 2px solid #fff;
}

.darkmode_image {
  width: 25px;
}

.darkmode__background {
  background: #2b2b2b;
}

.darkmode__title {
  color: #fff;
}

.darkmode__sound {
  border: 2px solid #fff;
}

.darkmode__modal {
  background-color: #535353;
  color: #fff;
}

.darkmode__hint {
  background-color: #525252;

  span {
    color: #fff;
  }
}

.main__block-buttons {
  .darkmode__buttons {
    font-weight: normal;
    border: 1px solid #616161;
    background-color: #535353;
    color: #b3b3b3;
  }
}

.darkmode__size,
.darkmode__image {
  border: 1px solid #616161;
  background-color: #535353;
  color: #b3b3b3;
}

.darkmode__option_size,
.darkmode__option_image {}