.modal {
  display: none;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.modal-content {
  padding: 20px;
  border: 1px solid #535353;
  border-radius: 10px;
  background-color: #fff;
  color: #535353;

  position: relative;
  text-align: center;

  span {
    margin: 5px;
  }
}

.modal__content_win {
  display: flex;
  flex-direction: column;

  p {
    margin: 5px;
  }
}

.modal__title {
  font-size: 50px;
}

.modal__subtitle {
  font-size: 30px;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;

  svg {
    cursor: pointer;
    width: 15px;
    height: 15px;
  }
}
