.main__section-playground {
  display: flex;
  justify-content: center;
}

.row {
  width: 30px;

  display: flex;
  flex-direction: column;

  @media screen and (max-width:610px) {
    width: 20px;
  }
}

.column {
  height: 30px;

  cursor: pointer;
  border: 1px solid black;

  @media screen and (max-width:610px) {
    height: 20px;
  }
}

.black {
  background-color: black;
}

.hint {
  height: 30px;
  border: 1px solid;

  @media screen and (max-width:610px) {
    height: 20px;
  }
}

.hint__top {
  height: 60px;
}

.hint__background {
  background-color: rgb(185, 180, 174);
}

.first__row {
  width: 60px;
}

// * {
//   border: 1px solid red;
// }