.main__section-playground {
  display: flex;
  justify-content: center;
}

.row {
  width: 30px;

  display: flex;
  flex-direction: column;
}

.column {
  cursor: pointer;
  border: 1px solid black;
  height: 30px;
}

.black {
  background-color: black;
}

.hint {
  height: 30px;
  border: 1px solid;
}

.hint__top {
  height: 100px;
}

.hint__background {
  background-color: rgb(185, 180, 174);
}

.first__row {
  width: 100px;
}
// * {
//   border: 1px solid red;
// }