.row {
  height: 30px;

  display: flex;
  flex-direction: row;

  @media screen and (max-width:610px) {
    height: 20px;
  }
}

.column {
  width: 30px;

  cursor: pointer;
  border: 1px solid rgb(117, 117, 117);

  @media screen and (max-width:610px) {
    width: 20px;
  }
}

.black {
  background-color: black;
}

.cross {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 25px;

    @media screen and (max-width:610px) {
      width: 15px;
    }
  }
}

.hint,
.zero {
  border: 1px solid rgb(117, 117, 117);
}

.hint__left,
.zero {
  min-width: 60px;
  width: 15%;
}

.hint__background {
  background-color: rgb(185, 180, 174);
}

.first__row {
  min-height: 60px;
  display: flex;
}

.hint__top {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  width: 30px;


  span {
    line-height: 1;
    letter-spacing: -1px;
    font-weight: bold;
    margin: 3px;

    @media screen and (max-width:610px) {
      line-height: 12px;
      letter-spacing: -3px;
      margin: 2px;
    }
  }

  @media screen and (max-width:610px) {
    width: 20px;
  }
}

.hint__left {
  display: flex;
  justify-content: end;
  align-items: center;

  span {
    line-height: 1;
    letter-spacing: -1px;
    font-weight: bold;
    margin: 3px;

    @media screen and (max-width:610px) {
      letter-spacing: -3px;
      margin: 2px;
    }
  }
}

.row:nth-child(n+6):nth-child(5n+2) .column,
.row:nth-child(n+6):nth-child(5n+2) .hint__left {
  border-top: 4px solid rgb(105, 105, 105);
  margin-top: -2px;
}

.column:nth-child(n+6):nth-child(5n+2) {
  border-left: 4px solid rgb(105, 105, 105);
  margin-left: -2px;

  width: 32px;

  @media screen and (max-width:610px) {
    width: 21px;
  }
}

.hint__top:nth-child(n+6):nth-child(5n+2) {
  border-left: 4px solid rgb(105, 105, 105);
  margin-left: -2px;

  width: 32px;

  @media screen and (max-width:610px) {
    width: 21px;
  }
}

// * {
//   border: 1px solid red;
// }